<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <bean id="hikari" class="school21.spring.service.repositories.Hikari"/>
    <bean id="getHDS"
          factory-bean="hikari"
          factory-method="getHDS" />
    <bean id="usersRepositoryJdbc" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl">
        <constructor-arg ref="getHDS"/>
    </bean>


    <bean id="jdbcDriver" class="school21.spring.service.repositories.JdbcDriver"/>
    <bean id="getDMDS"
          factory-bean="jdbcDriver"
          factory-method="getDMDS"/>
    <bean id="usersRepositoryJdbcTemplate" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplate">
        <constructor-arg ref="getDMDS"/>
    </bean>

</beans>